[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
streamlit = "*"

[packages]
langchain = "*"
tiktoken = "*"

[requires]
python_version = "3.10"
